[ req ]
distinguished_name = req_distinguished_name
req_extensions     = v3_req
x509_extensions    = v3_ca

# Not used but is required. Simply copied from /etc/ssl/openssl.cnf.
[ req_distinguished_name ]
countryName                     = Country Name (2 letter code)
countryName_min                 = 2
countryName_max                 = 2
stateOrProvinceName             = State or Province Name (full name)
localityName                    = Locality Name (eg, city)
0.organizationName              = Organization Name (eg, company)
organizationalUnitName          = Organizational Unit Name (eg, section)
commonName                      = Common Name (eg, fully qualified host name)
commonName_max                  = 64
emailAddress                    = Email Address
emailAddress_max                = 64

[ client_cert ]
basicConstraints       = CA:FALSE
keyUsage               = digitalSignature, keyAgreement
authorityKeyIdentifier = keyid, issuer

[ server_cert ]
basicConstraints       = CA:FALSE
keyUsage               = digitalSignature, keyAgreement
authorityKeyIdentifier = keyid, issuer
subjectAltName         = IP:127.0.0.1

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage         = digitalSignature, keyAgreement
extendedKeyUsage = clientAuth

[ v3_ca ]
basicConstraints       = CA:TRUE
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always

[ v3_intermediate_ca ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints       = CA:TRUE
keyUsage               = digitalSignature, cRLSign, keyCertSign

[ ca ]
default_ca       = CA_default            # The default ca section

[ CA_default ]
dir              = /root/tls              # Where everything is kept
certs            = $dir/certs             # Where the issued certs are kept
database         = $dir/index.txt         # database index file.
                                          # several certs with same subject.
new_certs_dir    = $dir/certs             # default place for new certs.
certificate      = $dir/certs/cacert.pem  # The CA certificate
serial           = $dir/serial            # The current serial number
crlnumber        = $dir/crlnumber         # the current crl number
                                          # must be commented out to leave a V1 CRL
private_key      = $dir/private/cakey.pem # The private key

name_opt         = ca_default             # Subject Name options
cert_opt         = ca_default             # Certificate field options

default_days     = 365                    # how long to certify for
default_crl_days = 30                     # how long before next CRL
default_md       = sha256                 # use SHA-256 by default
preserve         = no                     # keep passed DN ordering
policy           = policy_match